@{
    ViewBag.Title = @Resursi.Potvrda;
}

<h2>@Resursi.Potvrda</h2>

<p>
    Hvala na registraciji. Molimo provjerite svoj email zbog potvrde zahtjeva.
    Klikom na link, vaša registracija će biti završena.
</p> 