@{
    ViewBag.Title = "Confirmation";
}

<h2>Confirmation</h2>

<p>
    Hvala na registraciji. Molimo provjerite svoj email zbog potvrde zahtjeva.
    Klikom na link, vaša registracija će biti završena.
</p> 