@model eDrvenija.eDrvenija.Models.korisnici

@{
    ViewBag.Title = @Resursi.Dobrodosli;
}

<h2>@Resursi.Dobrodosli</h2>

<p>
    Thank you <%: User.Identity.Name %> for verifying your email address.
    You now have access to the site, and can poke around as you please.
</p>