<div ng-controller="UrediOglasController">
    <br/>
    <form ng-submit="kreirajOglas()">
        Naziv: <input type="text" ng-model="oglasnovi.nazivOglasa"> <br />
        Opis: <input type="text" ng-model="oglasnovi.opisOglasa"> <br />
        Cijena: <input type="text" ng-model="oglasnovi.cijena" />KM <br />
        Kategorija oglasa: <input type="text" ng-model="oglasnovi.idKategorije" /> <br />
        <input type="submit" value="Spasi" />
    </form>
</div>