@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_user.cshtml";
}
    <div ng-controller="IndexController">
        <div class="container">
            <div class="row-fluid">
                <div class="col-lg-3">
                    <div class="well sidebar-nav">
                        <ul class="nav nav-list">
                            <li><a href="/#/Pocetna">Ads</a></li>
                            <li><a href="/#/">Messages</a></li>
                            <li><a href="/#/KomentTemp"> Comment </a></li>
                            <li><br /></li>
                        </ul>

                    </div>
                </div>
                <div class="col-lg-9">
                    <div ng-view></div>
                </div>
                    
                
             </div>
        </div>

    </div>