@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_user.cshtml";
}

<header class="navbar-inverse" role="banner">
    <div class="container">
        <nav role="navigation">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("eDrvenija", "../", null, new { @class = "navbar-brand" })<!--<a class="navbar-brand" href="#">eDrvenija</a>-->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Link</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Korisnici <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Korisnici/Create">Dodaj</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Logout</a></li>

                </ul>
            </div><!-- /.navbar-collapse -->
            <!-- /.container-fluid -->

        </nav>
    </div>

</header>



    <div ng-controller="IndexController">
            <div class="row-fluid">
                <div class="col-lg-3">
                    <div class="well sidebar-nav">
                        <ul class="nav nav-list">
                            <li class="nav-header">
                                <a href="/#/Pocetna" data-toggle="collapse" data-target="#userMenu">Ads <b class="caret"></b></a>
                                <ul style="list-style: none;" class="collapse in" id="userMenu">
                                    <li class="nav-header"><a href="/#/Pocetna" data-toggle="collapse" data-target="#kategorijeMenu">Kategorije<b class="caret"></b></a>
                                        <ul style="list-style: none;" class="collapse in" id="kategorijeMenu">
                                            <li><a href="#">{{kategorije.nazivKategorije}} Kategorija 1, mada bi trebalo preko angulara popuniti ove kategorije ali neece nesto </a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-header"><a href="/#/SlanjePorukeTemp/4"> Slanje poruka </a></li>
                            <li class="nav-header"><a href="/#/PregledPoruka"> Pregled poruka </a></li>
                            <li class="nav-header"><a href="/#/KomentTemp"> Komentari </a></li>
                            <li class="nav-header"><a href="/#/PaginationTemp"> Paginacija </a></li>
                            <li class="nav-header"><a href="/#/UrediProfil/2"> Uredi profil </a></li>
                            <li><br /></li>
                        </ul>
                    </div>
                </div>
                <div ng-controller="SearchController" class="col-lg-7" style="height: 60px; background: #4e5d6c;">
                    <input type="text" style="width: 600px; height: 40px; margin-top: 10px;
        background: url(http://i465.photobucket.com/albums/rr14/Dongmyungplant/Search.png) no-repeat;
        background-size:36px 36px; padding-left:50px; color:white;" ng-model="keyword" />
                    <span>
                        <input type="button" value="Trazi" style="width: 100px; height: 40px; color: white; background-color: #bf5a16;" ng-click="pretrazi()" />
                    </span>
                    <span>
                        <select style="width: 100px; height: 40px; color: white; background-color: #bf5a16;" ng-model="pretraziPo">
                            <option value="1">Oglasi</option>
                            <option value="2">Korisnici</option>
                            <option value="3">Kategorije</option>
                        </select>
                    </span>
                </div>
                <div class="col-lg-9">
                    <div ng-view=""></div>
                </div>
             </div>
    </div>

