@{
    ViewBag.Title = "Početna stranica";
}
@section featured {
    <div class="hero-unit">
        <h1>Dobrodošli na eDrveniju</h1>
        <p>Vaše mjesto za online pregled i kupovinu starih knjiga i fakultetskih materijala.</p>
    </div>
}
BLA BLA BLA BLA BLA BLA
<p>@Html.ActionLink("Home >>", "../", null, new { @class = "btn btn-primary btn-large" })</p>