<div data-ng-controller="OglasiController">
    <div class="col-lg-3"> <!--ng-repeat="oglas in oglasi-->
        <div class="panel panel-default">
            <div class="panel-heading"><h2>{{oglas.idOglasa}}. {{oglas.nazivOglasa}}</h2></div>
            <div class="panel-body">
                opis nekog oglasa cijena ha hu
            </div>
        </div>
    </div>
</div>
