<div ng-controller="PorukeController">
    <form ng-submit="kreirajPoruku()">
        Naslov poruke: <input type="text" ng-model="naslovPoruke" /> <br />
        Tekst poruke: <textarea ng-model="tekstPoruke"></textarea>
        <br />
        <input type="submit" value="Posalji" />
    </form>
</div>
