<div ng-controller="UserController">
    <form ng-submit="editUser()">
        <!-- AVATAR -->
        Ime: <input type="text" ng-model="user.Ime"> <br />
        Prezime: <input type="text" ng-model="user.Prezime" /> <br />
        eMail: <input type="text" ng-model="user.EMail" /> <br />
        Broj telefona: <input type="text" ng-model="user.BrojTelefona" /> <br />
        Ocjena: <input type="text" ng-model="user.Ocjena" /> <br />
        Korisnicko ime: <input type="text" ng-model="user.KorisnickoIme" /> <br />
        Tip korisnika: <input type="text" ng-model="user.IdTipKorisnika" /> <br />
        <input type="submit" value="Spasi" />
    </form>
</div>